<mat-radio-group
  aria-labelledby="options-radio-group-label"
  class="options-radio-group"
  (change)="selectedOptionChange($event.value)">
  <mat-radio-button
    *ngFor="let option of options"
    class="radio-button"
    [class.summary-correct]="showAsCorrect(option)"
    [class.summary-incorrect]="showAsIncorrect(option)"
    [class.summary-missing]="showAsMissing(option)"
    [value]="option.value"
    [disabled]="disabled"
    [checked]="isChecked(option)"
  >
    {{option.value}}. {{option.label}}
  </mat-radio-button>
</mat-radio-group>
