<div>
  <h2>{{getAmountOfCorrectQuestions()}}/{{answers.length}} Correct</h2>
  <div *ngFor="let answer of answers">
    <p><b>{{answer.question.question}}</b></p>

    <app-multiple-choice-question
      *ngIf="answer.question.correctOptions.length === 1"
      [options]="answer.question.options"
      [summaryOptions]="getAsSummaryOptions(answer)"
      [disabled]="true"
    >
    </app-multiple-choice-question>

    <app-multi-select-question
      *ngIf="answer.question.correctOptions.length > 1"
      [options]="answer.question.options"
      [summaryOptions]="getAsSummaryOptions(answer)"
      [disabled]="true"
    >
    </app-multi-select-question>

    <p class="answer-result">
      <span class="answer-result-label"
            [class.correct-answer]="isAnsweredCorrectly(answer)"
            [class.incorrect-answer]="!isAnsweredCorrectly(answer)">{{isAnsweredCorrectly(answer) ? 'Correct' : 'Incorrect'}}</span>
      {{answer.question.explanation}}</p>
  </div>

  <div class="summary-actions">
    <button mat-raised-button color="primary" (click)="restart()">Restart</button>
  </div>
</div>
