.quiz-page {
  display: flex;
  justify-content: center;
}

.quiz-content {
  margin-top: 50px;
  width: 50%;
}

.quiz-title {
  margin-bottom: 5px;
}

.answer-result{
  padding: 10px;
  border-color: rgba(0,0,0,.54);
  border-radius: 10px;
  margin-bottom: 10px;
}

.answer-result-label {
  font-weight: bold;
  padding: 5px 10px;
}

.correct-answer {
  background-color: green;
  color: white;
}

.incorrect-answer {
  background-color: red;
}
